@model IEnumerable<Demo.Models.StockMaster>

@{
    ViewBag.Title = "DebtorView";
}

<h2>Stock Available</h2>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard", "Index", "DebtorMasters", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("Transactions", "Transactions", "DebtorsTransactions", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("Buy Stock", "DebtorView", "StockMasters", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
</body>
<p>
    @Html.ActionLink("Buy Now", "Create","DebtorsTransactions")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockDes)
        </th>
       
        <th>
            @Html.ActionLink("SellingPrice", "DebtorView", new { Sorting_Order = ViewBag.SellingPrice })
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.StockAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StockDes)
        </td>
       
        <td>
            R @Html.DisplayFor(modelItem => item.SellingPrice)
        </td>
        
       
        <td>
            @Html.DisplayFor(modelItem => item.StockAvailable)
        </td>
       
    </tr>
}

</table>
