@model IEnumerable<Demo.Models.DebtorsTransaction>

@{
    ViewBag.Title = "Index";
}

<h2>Debtors Transactions</h2>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard", "Index", "StockMasters", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("Add New Stock Line", "Create", "StockMasters", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("Purchase Stock", "Create", "StockTransactionFiles", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("View Stock Purchases", "List", "StockTransactionFiles", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("View Debtors", "EmployeeAccess", "DebtorMasters", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("Add New Debtor", "Create", "DebtorMasters", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("Create New Login", "Register", "Home", new { area = "" }, new { @class = "navbar-brand" })|
                @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
</body>



<p>@Html.ActionLink("Payment", "List", "DebtorsTransactions")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebtorMaster.DebtorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMaster.StockDes)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
      
        <th>
            @Html.ActionLink("GrossValue", "Index", new { Sorting_Order = ViewBag.GrossValueSort })
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.VatValue)
        </th>
        <th>
            @Html.ActionLink("TransactionDate", "Index", new { Sorting_Order = ViewBag.TransactionDate })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TransactionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebtorMaster.DebtorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockMaster.StockDes)
            </td>

            <td>
                R @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                R @Html.DisplayFor(modelItem => item.GrossValue)
            </td>
            <td>
                R @Html.DisplayFor(modelItem => item.VatValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>

                @Html.ActionLink("Invoice", "Details", new { id = item.TransactionID }) 
             

            </td>
        </tr>
    }

</table>
